.create-round__type_select {
    background-color: #2b2b2b;
    border: none;
    border-radius: 100px;
    color: whitesmoke;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    transition: width 0.5s;
    width: auto;
}

.create-round__type_select button {
    padding: 10px;
    border-radius: 100px;
    border: none;
    background-color: #2b2b2b;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.5s;
    cursor: pointer;
}
.create-round__type_select button span {
    margin-right: 5px;
}

[class ^= "type_select__ul"] {
    transition: width 0.5s;
    overflow: hidden;
}

.type_select__ul-entering, .type_select__ul-exiting  {
    width: 0;
}
.type_select__ul-entered {
    width: 60px;
}

.create-round__type_select li {
    float: left;
    margin-left: 5px;
    list-style: none;
    cursor: pointer;
}
.create-round__type_select li:last-child {
    margin-right: 10px;
}

.create-round__type_select.opened button {
    background-color: #66af50;
}
