.RoundWindow {
    background-color: #3c3f41;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    width: 50vw;
    margin: 100px auto;
    flex-direction: column;
    content: "Answer";
    transition: opacity 1s;
}

.RoundWindow form {
    display: inherit;
    flex-direction: inherit;
}

.RoundWindow__text {
    color: white;
    padding: 10px;
    font-size: 25px;
}

.RoundWindow__input {
    margin-top: 10px;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    border: none;
    border-radius: 17px;
}

.RoundWindow__button {
    margin-top: 8px;
    height: 40px;
    background-color: inherit;
    border: 1.7px solid white;
    border-radius: 17px;
    color: white;
    opacity: 0.7;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 18px;
    transition: all 0.7s;
}

.RoundWindow__button_action {
    background-color: #ffc723;
    border: none;
    color: white;
    opacity: 0.8;
}

.RoundWindow__button:hover {
    opacity: 1;
}


/*Animate*/
.RoundWindow-entering {
    opacity: 0;
}

.RoundWindow-entered {
    animation: bounceInLeft 0.7s 1 ease-out;
}

.RoundWindow-exiting {

}

.right-answer-exited {
    animation: bounceOutRight 0.7s 1 ease-out;
    opacity: 0;
}

.fail-answer-exited {
    animation: bounceOutDown 0.7s 1 ease-out;
    opacity: 0;
}

@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
        background-color: #bf3535;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}