.PageMain__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 80vh;

}

.PageMain {
    height: 100%;
}

.PageMain main {
    padding: 20px;
    background: #f2f2f2;
    border-radius: 8px;
    background: rgb(48,201,254);
    background: linear-gradient(45deg, rgba(48,201,254,1) 28%, rgba(147,228,255,1) 68%);
    box-shadow: 0 0 10px #258ab4;

    margin-right: 40px;
    flex-grow: 1;
}

.PageMain .LevelsList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.levels-list__add-btn {
    height: 60px;
    width: 60px;
    font-size: 30px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    cursor: pointer;
    text-shadow: 0 0 3px whitesmoke;
}

@media (max-width: 619px) {
    .PageMain main {
        margin-right: 0;
    }
}