header.header-main {
    min-height: 20vh;
    /*text-align: center;*/
    padding: 0px;
    font-size: 22px;
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: end;

    /*background-color: #93e4ff;*/
    /*background: rgb(147,228,255);*/
    /*background: linear-gradient(45deg, rgba(147,228,255,1) 26%, rgba(48,201,254,1) 68%);*/
    /*background-color: #629fcdd0;*/
}


.eni_logo {
    float: left;
    width: 70px;
    position: relative;
    left: 40px;
    bottom: 15px;
}

.logoMain span {
    color: #5fff30;
    font-size: 20px;
}

@media (max-height: 500px) {
    header.header-main {
        font-size: 12px;
        padding: 10px;
    }
    
}